<footer>
    <section class="footer container-grid">
        <div class="footer-texto">
            <ul>
                <li><a href ="#">Institucional</a></li>
                <li><a href ="#">Empresa</a></li>
                <li><a href ="#">Com Comprar</a></li>
                <li><a href ="#">Termo e Condições</a></li>
                <li><a href ="#">Pagamento</a></li>
                <li><a href ="#">Tempo de garantia</a></li>
                <li><a href ="#">Produtos Reembalados</a></li>
            </ul>
        </div>
    
        <div class="footer-icones">
            <a href=""><img src="/assets/img/iconetelefone.svg"></a>
            <a href=""><img src="/assets/img/iconewhats.svg"></a>
            <a href=""><img src="/assets/img/iconeemail.svg"></a>
        </div>
    
        <div class="footer-redes-sociais">
                <a href=""><img src="/assets/img/iconeface.svg"></a>
                <a href=""><img src="/assets/img/iconeinsta.svg"></a>
                <a href=""><img src="/assets/img/iconetuiter.svg"></a>
        </div>
    
        <div class="footer-pagamentos">
            <a href=""><img src="/assets/img/bandeirascartoes.svg"></a>
        </div>
    
        <div class="cadastro-receber-novidades">
            <h2>Quer receber nossas novidades?</h2>
            <br>
            <h2>Cadastre-se aqui!</h2>
            <br>
             <form class="form-receber-email" action="">
                <input id="cad-email" type="email" placeholder="E-mail" required>
                <br>
                 <button onclick=cadastrarNovidades()>Criar conta</button>
                 <br>
             </form>
         </div>
    </section>
    </footer>
