

<div class="banner">
 
</div>

<section class="galery container">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/assets/img/oferta-black-jogo-chapeu.jpeg " class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/img/black-oferta-jogo.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/assets/img/game-subway-surfers-imagem-divulgacao-kiloogames_1.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
</section>

<section class="secao-icone">
    <div class="icones container">
        <a href=""><img src="/assets/img/fretegratis.svg"></a>
        <a href=""><img src="/assets/img/todobrasil.svg"></a>
        <a href=""><img src="/assets/img/balaochat.svg"></a>
        <p>Chat Online</p>
        <a href=""><img src="/assets/img/siteseguro.svg"></a>
    </div>
</section>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/img/carroceuofertas.svg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/img/carroceuofertas2.svg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/img/Jogos-para-PC-PlayStation.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>

 <section class="reportagens container">
    <div class="noticias">
    <a href=""><img src="/assets/img/awesomecyber.svg"></a>
    <a href=""><img src="/assets/img/cybermonday.svg"></a>
    <a href=""><img src="/assets/img/melhorardesempenho.svg"></a>
    </div>
</section>

<section class="em-promocao container-grid">
    <div class="promo">
    <a href=""><img src="/assets/img/empromocao.svg"></a>
    </div>
</section>



<script type="text/javascript" src="js/jquery-3.6.1.js"></script>
<script type="text/javascript" src="js/script.js"></script>
