@import url('https://fonts.googleapis.com/css2?family=Rasa&family=Roboto:ital@1&display=swap');
*{
    margin: 20;
    padding: 40;
    box-sizing: border-box;
}


.login-usuario{
    border-width: 10px; 
    border-style: solid; 
    border-color:  blue;
    height: 200px;
    display: flex;
    justify-content: center;
    font-family: 'Rasa';
    font-size: 20px;
    color: black;    
}

.mensagem-login{
    font-family: 'Rasa';
    font-size: 50px;
    color: rgb(212, 18, 18); 
}
.me{
    font-size: 60px;
    color: blueviolet;
} 
.botao-enviar{
    background-color: #C31616;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
}
  


.container-grid {
    width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


 @media screen and (max-width: 1200px) {
    .container-grid{
        width: 90%;
    }
    #menu{
        width: 460px;
    }
    .menu a{
        font-size: 16px;
    }
    .logo{
        width: 200px;
    }

} 
@media screen and (max-width: 768px) {
    
    h1{
        color:blue;
    }
    .minha-conta a {
        background-color: #C31616;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        padding:5px;
        border-radius: 5px;
        font-size: 13px;
    }
    .barras{
        display: inline-block;
        width: 60px;
        height: 60px;
        
    }
   
    #menu{
        display: none;
        flex-direction: column;
        width: 200px;
        height: 200px;
        position: absolute;
        top: 0;
        right: 65px;
        background-color: rgb(122, 112, 112);
    }
    .menu a{
        text-align: center;
        padding: 15px;
    }
    
    
}
@media screen and (max-width: 768px) {
    .login-novo-usuario{
        border-width: 10px; 
        border-style: solid; 
        border-color:  darkmagenta;
        height: 100px;
        display: flex;
        justify-content: space-around;
        font-family: 'Rasa';
        font-size: 15px;
        color: black; 
    }

   

   

}