<header>
    <div class="container-grid posicionamento-header">
        <a href=""><img class="logo" src ="/assets/img/logo.svg" alt="Logo do site"></a>
        <nav id="menu" class="menu">
            <a href="">Menu</a>
            <a href="">Pesquisar</a>
            <a href="">Campeonatos</a>               
         </nav>
         <nav class="minha-conta">
            <a routerLink="/minhaconta">Minha conta</a>
         </nav>
          <!-- <a href="#" id="barras"><img class="barras-icone" src="/assets/img/barras-icone-branco.png" alt="Menu de Barras"></a> --> 
         <a href="#" onclick="mostrarMenu()"><img class="barras" src="/assets/img/barras-icone-branco.png" alt="Menu de Barras"></a>  
    </div>
    
</header>